<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pothole Detection</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>

<body>
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <h4>Pothole Detection</h4>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="file" id="files" class="form-control">
                </form>

                <div class="text-end">
                    <button type="button" id="btn_submit" class="btn btn-outline-primary me-2">Upload</button>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">

        <div class="row">
            <div class="col-8">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="p-2">
                            <img id="show_img" src="static/image/1674324690.8264375.png" class="img-fluid" alt="...">
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-4 mt-2">
                <div class="p-2" id="updates">


                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $("#btn_submit").on('click', function () {
            var data = new FormData();
            data.append('files', $('#files')[0].files[0]);

            $.ajax({
                url: 'upload',
                type: 'post',
                data: data,
                contentType: false,
                processData: false,
                success: function (resp) {
                    var ele = ''
                    $('#show_img').attr('src', resp['output'])

                    for (var i = 0; i < resp['res'].length; i++) {
                        res = resp['res'][i];
                        console.log(res, "........")

                        ele += `<div class="card">
                            <h5 class="card-header text-center">
                                ${res['name']}
                            </h5>
                            
                            <div class="card-body">
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <h5 class="my-0 font-weight-bold">Confidence</h5>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="my-0">${res['confidence']}</h5>
                                    </div>                                                                              
                                </div>
                            </div>


                            <div class="card-body ">
                                <div class="row mt-2">                                        
                                    <div class="col-6">
                                        <h5 class="my-0">Depth</h5>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="my-0">${res['depth']} CM</h5>
                                    </div>                                                                                
                                </div>
                            </div>


                            <div class="card-body ">
                                <div class="row mt-2">                                      
                                    <div class="col-6">
                                        <h5 class="my-0">Height</h5>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="my-0">${res['height']} CM</h5>
                                    </div>                                                                               
                                </div>

                            </div>


            
                            <div class="card-body ">
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <h5 class="my-0">Width</h5>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="my-0">${res['width']} CM</h5>
                                    </div>                                        
                                </div>
                            </div>                                
                        </div>`

                        


                    }

                    $('#updates').html(ele)
                },
            });
        })

        var res = {
            "output": "static/output/1674323148.8276992.png",
            "res": [{
                    "confidence": 0.65,
                    "depth": 71.95,
                    "height": 58.94,
                    "name": "Pothole 1",
                    "width": 144.31
                },
                {
                    "confidence": 0.51,
                    "depth": 43.9,
                    "height": 15.45,
                    "name": "Pothole 2",
                    "width": 87.8
                },
                {
                    "confidence": 0.46,
                    "depth": 21.14,
                    "height": 8.13,
                    "name": "Pothole 3",
                    "width": 42.68
                },
                {
                    "confidence": 0.44,
                    "depth": 32.93,
                    "height": 13.01,
                    "name": "Pothole 4",
                    "width": 66.26
                },
                {
                    "confidence": 0.32,
                    "depth": 23.98,
                    "height": 11.38,
                    "name": "Pothole 5",
                    "width": 48.37
                },
                {
                    "confidence": 0.31,
                    "depth": 15.85,
                    "height": 17.48,
                    "name": "Pothole 6",
                    "width": 32.11
                }
            ]
        }
    </script>
</body>

</html>